<div id="home">
    <h1>BEM-VINDO</h1>

    <p>Esse projeto foi feito para o processo seletivo de estágio da <strong> OAK Tecnologia</strong></p>
    <%= link_to "Cadastrar Produto",new_produto_path, class: "btn btn-success" %>
    <%= link_to "Listagem Produtos",produtos_path,  class: "btn btn-primary" %>
</div>