/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

body{
    text-align: center;
    margin: 0px 400px 0px 400px;
    background-color:azure;
}

h1{
    text-decoration: underline;
}

div#home{
    margin-top: 150px;
    border: 2px solid black;
    padding: 30px;
    box-shadow: 5px 5px 5px rgb(82, 151, 151);
    background-color: rgb(190, 217, 255);
    
}

div#index{
    border: 2px solid black;
    padding: 15px;
    box-shadow: 5px 5px 5px rgb(82, 151, 151);
    background-color: rgb(190, 217, 255);
}

div#indexForms{
    border: 2px solid black;
    padding: 8px;
    box-shadow: 5px 5px 5px rgb(82, 151, 151);
    background-color: rgb(190, 217, 255);
    font-weight: bold;
}

.botoes{
    margin-top: 10px;
    margin-bottom: 10px;
}

div#BotaoExcluir{
    margin-top: 10px;
}

.col{
    margin-bottom: 10px;
}

p#Cifrao{
    font-weight: bolder;
    display: inline;
}

div#Ordenar>p{
    display: inline;
    padding: 5px;
    font-weight:bold;
}

div#Ordenar{
    margin:15px 0px 10px 0px;
}

h1{
    color: rgb(20, 20, 199);
}

